{
    "root": true,
    "parser": "@babel/eslint-parser",
    "plugins": [
        "@typescript-eslint",
        "@babel",
        "prettier"
    ],
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "prettier/prettier": [
            "warn",
            {},
            {
                "usePrettierrc": true
            }
        ]
    },
    "env": {
        "node": true
    },
    "parserOptions": {
        "sourceType": "module",
        "babelOptions": {
            "configFile": "./.babelrc"
        }
    }
}